body {
    width: 80%;
    margin: 5% auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* Styles applied to header section */

.parent {
    display: grid;
    grid-template-columns: 40% auto;
    grid-column-gap: 2%;
}

img.child {
    width: 100%;
    border-radius: 55%;

}

h1.child {
    font-size: 400%;
    grid-column: 2/3;
    grid-row: -2/-3;
    border-bottom: solid;


}

p.child {
    grid-row: -1/-2;
    grid-column: -2/-1;


}

/* Aside styling */

.contact {
    display: grid;
    grid-template-columns: 40%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-row-gap: 50%;



}

h3 {
    border-bottom: solid;
    grid-row: -5/-4;
    place-self: center;
    width: 80%;



}

p.contacts {
    align-self: center;
    place-self: center;
}